.btn-submit {
    background-color: rgb(48, 81, 118);
    width: fit-content;
    color: white;
    transition: all 0.3s;
  }

  .btn-submit:hover {
    background-color: rgba(10, 30, 52, 0.996);
    color: white;
    transition: all 0.3s;
  }